.header {
  background-color: #ffffff;
  padding: 1rem;
  .profile-img {
    width: 49px;
    height: 47px;
  }
  .switch-icon {
    width: 30px;
    height: 30px;
  }
  .heading-text {
    color: #616161;
    cursor: pointer;
  }
}
